#contact {
  margin: 5rem 0;

  @include respond(tab-land) {
    clip-path: none;
    margin-top: 0;
    -webkit-clip-path: none;
  }

  .contact-wrapper {
    text-align:center;

    &__text,
    p {
      font-size:2rem;
      margin-bottom: 3rem;
    }
  }
}
