#contact {
  margin: 5rem 0;

  @include respond(tab-land) {
    clip-path: none;
    margin-top: 0;
    -webkit-clip-path: none;
  }

  .contact-wrapper {
    text-align:center;

    &__text,
    p {
      font-size:2rem;
      margin-bottom: 3rem;
    }

    &__text,
    a {
      padding:1rem 2rem;
      border-radius:80px;
      margin-top: 2rem;
      font-size: 2rem;
      font-weight: 400;
      text-decoration: none;
    }
  }
}
