#hero {
  margin-bottom: 15rem;
  margin-top: 30rem;
}

.hero-text {
  font-size: 3rem;
  font-weight: 400;
  text-align: left;
  margin: 5rem 0;

  @include respond(phone) {
    font-size:2rem;
  }
}