#projects {
  
  img {
    @include respond(tab-port) {
      object-position: right center !important;
    }
    @include respond(phone) {
      object-position: right center !important;
    }
  }

  .project-wrapper {
    margin-bottom: 20rem;
    text-align: center;

    @include respond(phone) {
      margin-bottom: 0rem;
    }

    .row {
      margin-bottom:5rem;
      margin-top:5rem;

      @include respond(big-desktop) {
        margin-bottom:20rem;
        margin-top:10rem;
       }

      @include respond(phone) {
        margin-bottom: 25rem;
        margin-top: 13rem;
        padding:0px !important;
      }
    }

    &__text {

      &-title {
        font-weight: bold;
        font-size: 1.8rem;
        font-family: $fancy-font;
        margin-top: 5rem;
        margin-bottom: 1rem;
      }

      & p {
        font-size:1.4rem;
      }

      & p:nth-child(3) {
        font-size:1.4rem;
        font-style: italic;
      }

      & p > a {
        color: $secondary-color;
      }
    }

    &__image {
      width: 100%;
      max-width:960px;
      margin: 0 auto;

      @include respond(phone) {
        width:90%;
        margin-left: 5%;
      }

      & .thumbnail {
        border: none;
      }
    }
  }
}

.cool-link {
  margin-top:3rem;
  text-transform: uppercase;
  display: inline-block;
  color: #000;
  text-decoration: none;
}

.cool-link:hover {
  color: #000;
  text-decoration: none;
}

.cool-link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #000;
  transition: width .3s;
}

.cool-link:hover::after {
  width: 100%;
}