#welcome {
    margin-top: 25vh;
    text-align: left;
    width: 100vw;
}

.welcome-text {
    font-family: $fancy-font;
    font-size: 5rem;
    text-align: left;
    font-weight: 600;
    margin-bottom:24px;

    @include respond(tab-land) {
        font-size: 14rem;
        line-height: 14rem;
    }
    @include respond(tab-port) {
        font-size: 12rem;
        line-height: 12rem;
    }
    @include respond(phone) {
        font-size: 5rem;
        line-height: 5rem;
    }
    @include respond(phone-xs) {
        font-size: 5rem;
        line-height: 5rem;
    }
}

.welcome-text-little {
    font-size:18px;
    text-transform: none;
    margin-top: 24px;
}

.span-green {
    color:#00E676;
}

.hr-welcome {
    width:10%;
    margin:0px;
    border-color:#000;
}