.AnimationContainer {
    min-height: 100vh;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 0px;
    background: #000;
    font-weight: 400;
    color: #fff;
    padding: 0rem 5.6rem;
    margin-bottom: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.ShapeContainer {
    width:200px;
    margin-right: 50px;
    margin-bottom: 50px;

    @include respond(phone) {
      width:150px;
      margin-right:25px;
    }
}

.lines {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    margin: auto;
    width: 90vw;
  }

  .lines .line {
    position: absolute;
    width: 1px;
    height: 20%;
    bottom: 0;
    left: 48%;
    background: rgba(255, 255, 255, 0.2);
    overflow: hidden;
  }

  .lines .line::after {
    content: "";
    display: block;
    position: absolute;
    height: 50%;
    width: 100%;
    top: 0%;
    left: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(75%, #ffffff), to(#ffffff));
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 100%);
    -webkit-animation: run 3.5s 0s infinite ease-in;
            animation: run 3.5s 0s infinite ease-in;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
            animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
  }

  @-webkit-keyframes run {
    0% {
      top: -100%;
    }
    100% {
      top: 100%;
    }
  }
  
  @keyframes run {
    0% {
      top: -100%;
    }
    100% {
      top: 100%;
    }
  }

.text-scroll {
  position: absolute;
  bottom: 15vh;
  font-size: 1.4rem;
  left: 50%;

  @include respond(phone) {
    left:55%;
  }
}

#shapeLogo1 {
  animation: shapeLogo1 3000ms linear infinite normal forwards
}

@keyframes shapeLogo1 { 
  0% {transform: translate(-796.282349px,-295.814716px)}
  50% {transform: translate(-796.282349px,-281.500000px)} 
  100% {transform: translate(-796.282349px,-295.814716px)} 
}

#shapeLogo2 {
  animation: shapeLogo2 3000ms linear infinite normal forwards
}

@keyframes shapeLogo2 {
  0% {transform: translate(-796.282349px,-287.314716px)} 
  50% {transform: translate(-796.282349px,-273px)} 
  100% {transform: translate(-796.282349px,-287.314716px)} 
}

#shapeLogo3 {
  animation: shapeLogo3 3000ms linear infinite normal forwards
}

@keyframes shapeLogo3 {
  0% {transform: translate(-796.282350px,-379.691833px)} 
  50% {transform: translate(-796.282350px,-369.133192px)} 
  100% {transform: translate(-796.282350px,-379.695033px)} 
}