#Navbar {
    padding:0 3rem;

    .top-nav {
        width:100%;
        padding:2rem 0;
        border-bottom: 1px solid rgba(0, 0, 0, .1);
    
        .logo-container {
            margin:24px 0;
        }

    }
    
    nav {
        padding:3rem 0;
        border-bottom: 1px solid rgba(0, 0, 0, .1);
    
        a {
            font-size:1.8rem;
            padding: 14px 34px;
            text-align: center;
            opacity:0.8;
        }

        .active {
            box-shadow: inset 0px 0px 0px 1px;
            border-radius:1000px;
        }
    }
}