// Section
section {
  padding: 0 8rem;
  margin-top: 10rem;

  @include respond(tab-land) {
   padding: 0 8rem;
   margin-top: 8rem;
  }
  @include respond(tab-port) {
   padding: 0 5rem;
   margin-top: 8rem;
  }
  @include respond(phone) {
   padding: 0 2rem;
   margin-top: 3rem;
  }
}
