@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

h1 {
  font-weight: 700;
}

p,
a {
  font-family: $default-font;
  font-size: $default-font-size;
}

a,
a:link,
a:hover,
a:visited,
a:active {
  text-decoration: none;
}

a:hover {
  transition: all 0.3s ease-in-out;
}

.section-title-hr {
  width:54px;
  margin-bottom:1.5rem;
  height:1px;
  background-color:#000;
}

.section-title {
  font-family: $default-font;
  font-size: $big-font-size;
  font-weight: 400 !important;
  letter-spacing: 0.1rem;
  font-weight: 100;
  text-align:left;
  margin-bottom:2rem;

  @include respond(phone) {
    margin-top:10rem;
    font-size: 2rem;
  }
}